<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom mb-3">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">CheckList</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="sets" Match="NavLinkMatch.Prefix">My Sets</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="templates" Match="NavLinkMatch.Prefix">Templates</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="admin" Match="NavLinkMatch.Prefix">Admin</NavLink>
                </li>
            </ul>
            <div class="d-flex">
                <AuthorizeView>
                    <Authorized>
                        <a class="btn btn-outline-secondary btn-sm" href="MicrosoftIdentity/Account/SignOut">Sign Out</a>
                    </Authorized>
                    <NotAuthorized>
                        <a class="btn btn-outline-primary btn-sm" href="MicrosoftIdentity/Account/SignIn">Sign In</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
</nav>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

